<body data-nick="<%= nick %>" data-user-id="<%= user_id %>">
  <div id="content"></div>

  <script
    src="https://js.pusher.com/2.1/pusher.js"></script>
  <script>pusher = new Pusher('a1ef4d95b2ea5f33a5b9');</script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/react/0.9.0/react-with-addons.js">
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/react/0.9.0/JSXTransformer.js">
  </script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script type="text/jsx" src="app.js"></script>
</body>
